-
  var path = [{name: 'Главная',   href: '/'},
              {name: 'Статьи',   href: '/articles.html'},
              {name: 'О преимуществах пластиковой мебели'}]

//-.container
  include ../components/_breadcrumb
  h1 Общее имущество в многоквартирном доме

main.main
  .container
    include ../components/_breadcrumb
    article.article
      h1= path[2].name
      .user_content.clearfix
        img(src="http://placehold.it/570x350", alt="Alt", style="float:left; margin-right: 30px;")
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem eius, similique ratione nam provident deserunt at suscipit dolor maiores sint. Magni doloribus hic veniam minus blanditiis ipsa reiciendis iure placeat esse, ad. Beatae deleniti dolorum, accusantium animi? Suscipit consequuntur nobis, harum maiores magni culpa illum deserunt saepe ipsa exercitationem odio ab. Minima corporis beatae pariatur unde, velit minus odio perspiciatis.
        h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, molestias.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quae illo repellendus dolores maiores ut commodi neque, magni repellat quas officiis, consequatur nisi rem iure natus quia voluptatem a voluptate.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed sunt, optio reprehenderit dolore modi numquam vero amet ad ex veritatis nemo beatae nisi labore eveniet soluta doloribus sapiente error, distinctio quisquam laudantium tempore! Eum libero, consequatur, amet cum maxime aperiam.
        h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, molestias.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur labore incidunt, iure sint possimus beatae quae quos debitis deleniti? Itaque?
    .button-group
      a(href='/articles.html').button.button--large.button--main-color Вернуться к статьям
  include ../components/_bottom-panel