include ../bemto/bemto
- set_bemto_settings({ modifier: '--' })

+b.HEADER.header
  include ../components/_top-panel
  .container
    .row
      +e.container
        +e.column
          // кнопка мобильного меню
          .nav-button#nav-button-js
        +e.column
          a(href="/").logo
            span Мебель
            +svg-icon('logo')
            span Дома
        +e.column
          +b.FORM.header-search(action="#", method="post")#js-header-search
            .form-group
              input#input-name.form-control(type='search', placeholder='Поиск')
            +e.BUTTON.submit(type='submit')
              +svg-icon('search')
      +b.NAV.nav
        +e.UL.list#nav-list-js
          // активное состояние <li class="nav__list-item active">
          each item, i in navMenu
            //- li.nav__list-item.active
            +e.list-item(class={"has-sub" : item.submenu})
              +e.link(href=item.href)
                span= item.name
                //- span.icon(class='icon-#{item.icon}')
                if item.submenu
                  b.caret
              if item.submenu
                +e.UL.sub-list.nav-sublist-js
                  each subitem in item.submenu
                    +e.sub-list-item
                      +e.sub-link(href=subitem.href)= subitem.name