include helpers/_variables
include helpers/_mixins
include bemto/bemto
- set_bemto_settings({ modifier: '--' })

doctype html
html

  head
    include meta/_head

  body.body
    include svg

    include partials/_header

    include pages/_news-page

    include partials/_footer

    //- скрипты
    include meta/_scripts