script(src="/js/libs.js")
//- script(src="/vendor/jquery/dist/jquery.min.js")

//- script(src="/vendor/bootstrap-sass-3.3.6/javascripts/bootstrap.min.js")

//- Modernizer используется в Animate Slider
//- script(src="vendor/animateSlider.1.0.5/modernizr.js")
//- script(src="vendor/animateSlider.1.0.5/jquery.animateSlider.min.js")

//- стили и тема owl-carousel импортированы в style.css
//- script(src="vendor/owl.carousel.2.0.0-beta.2.4/owl.carousel.min.js")

//- Скрипт слайдера Swiper http://idangero.us/swiper/get-started/
//- script(src="/vendor/swiper/dist/js/swiper.min.js")
//- lightbox в карточке продукта и не только... http://osvaldas.info/image-lightbox-responsive-touch-friendly
//- script(src='/vendor/imagelightbox/dist/imagelightbox.min.js')
//- Скрипт Для magnific-popup https://github.com/dimsemenov/Magnific-Popup
//- script(src="/vendor/magnific-popup/dist/jquery.magnific-popup.min.js")
//- Конструктор обновления браузеров
//- https://tech.yandex.ru/browser/constructor/
script(type='text/javascript', src='https://yastatic.net/browser-updater/v1/script.js', charset='utf-8')
//- Настройки слайдеров и пр.
//- script(src="/js/libs.js")
script(src="/js/scripts.js")
//- script(src="js/packery.pkgd.min.js")