header.header
  include ../components/_top-panel
  .container
    .row
      .header__container
        .header__column
          // кнопка мобильного меню
          .nav-button#nav-button-js
        .header__column
          a(href="/").logo
            span Мебель
            +svg-icon('logo')
            span Дома
        .header__column
          form(action="#", method="post").header-search#js-header-search
            .form-group
              input#input-name.form-control(type='search', placeholder='Поиск')
            button(type='submit').header-search__submit
              +svg-icon('search')
      nav.nav
        ul.nav__list#nav-list-js
          // активное состояние <li class="nav__list-item active">
          each item, i in navMenu
            //- li.nav__list-item.active
            li.nav__list-item(class={"has-sub" : item.submenu})
              a(href=item.href).nav__link
                span= item.name
                //- span.icon(class='icon-#{item.icon}')
                if item.submenu
                  b.caret
              if item.submenu
                ul.nav__sub-list.nav-sublist-js
                  each subitem in item.submenu
                    li.nav__sub-list-item
                      a(href=subitem.href).nav__sub-link= subitem.name