// /src/scss/pages/_catalog.scss
// Каталог продукции

.filter {
  display: block;
  &__item {
    @include text-decoration;
    @include font(13px, 600, 36px);

    display: inline-block;

    height: 38px;
    margin-bottom: $gutter;
    padding: 0 15px;

    text-transform: uppercase;

    color: $black;
    border: 1px solid $black;
    border-radius: 1px;
    &:not(:last-of-type) {
      margin-right: 20px;
    }
    &:hover,
    &.active {
      color: $bmc;
      border: 1px solid $bmc;
    }
  }
}

.item {
  @include transition(box-shadow);

  width: 100%;

  box-shadow: inset 0 0 0 1px $border;
  @media (max-width: $sm - 1) {
    margin-right: $gutter;
    margin-left: $gutter;
  }
  @media (min-width: $sm) and (max-width: $md - 1) {
    width: percentage(1/2);
  }
  @media (min-width: $md) and (max-width: $breakpoint - 1) {
    width: percentage(1/3);
  }
  @media (min-width: $breakpoint) {
    width: percentage(1/4);
  }
  &:hover {
    box-shadow: inset 0 0 0 1px $bmc;
  }
}

.item-img {
  font-size: 0;

  display: flex;

  width: 100%;
  max-width: 100%;
  height: auto;

  align-items: flex-start;
  justify-content: center;
  &:hover {
    cursor: pointer;
  }
  img {
    @include img;

    display: block;
  }
}

.catalog {
  //
}

.catalog-item {
  position: relative;
  z-index: 10;

  display: flex;
  flex-direction: column;

  margin-bottom: $gutter * 2;
  padding: $gutter $gutter $gutter * 2 $gutter;

  text-align: center;
  &:hover {
    z-index: 20;
  }
  &__img {
    //min-height: 265px;
    margin-bottom: 25px;
  }
  &__title {
    @include transition(color);
    @include font(16px, 700, 22px);
    //width: 195px;

    min-height: 66px;
    margin-bottom: 14px;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: $black;
    &:hover {
      cursor: pointer;
    }
  }
  &:hover &__title {
    color: $bmc;
  }
  &__text {
    @include font(14px, 300, 22px);

    overflow: hidden;

    max-height: 130px;
    //margin-top: auto;
    margin-bottom: 20px;

    text-align: center;
  }
  &__link {
    margin-top: auto;

    align-self: center;
  }
}

.category {
  //
}

.category-item {
  display: flex;
  flex-direction: column;

  margin-bottom: 30px;
  padding: $gutter;
  padding-bottom: 30px;

  text-align: center;
  &__img {
    margin-bottom: 12px;
  }
  &__category-name {
    @include font(14px, 700, 14px);

    margin: 10px 0;

    color: $bsc;
  }
  &__title {
    @include font(16px, 700, 22px);

    margin-bottom: 34px;

    text-transform: uppercase;

    color: $black;
    &:hover {
      cursor: pointer;
    }
  }
  &:hover &__title {
    color: $bmc;
  }
  .button {
    margin-top: auto;
    align-self: center;
  }
  span {
    margin-left: 5px;

    text-transform: lowercase;
  }
}
