section
  +b.bottom-panel(class={"bottom-panel--margin-top" : contacts})
    .container
      +b.FORM.bottom-search(action="#", method="post")
        +input-label('Поиск по сайту', 'Введите запрос')
        +e.BUTTON.submit(type='submit')
          +svg-icon('search')
          | Найти
      +e.phone(href='tel:+78005552356')
        +svg-icon('handset')
        |8 800 555 23 56
      a(href='#callback').callback.button.button--medium.button--black-filled.js-popup заказать звонок
