//- /components/subcatalog-item

+b.category-item.item
  +e.img(class='label label-' + item.name).item-img.js-item-click
    img(src="http://placehold.it/270x270", alt="Alt")
  +e.category-name Мебель для гостинной
  +e.title.js-item-click Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  a(href='/product.html').button.button--medium.button--second-color-filled.js-item-link 999 999 <span>руб.</span>
