//- акционные лейблы. См. _common.scss
-
  var figure =  [
                  {title: 'Жаккард'},
                  {title: 'Шенилл'},
                  {title: 'Флок'},
                  {title: 'Велюр'}
                ]

//- Карточка одной статьи в разделе каталог и на главной
each item in figure
  +b.FIGURE.figure-item.item
    +e.link(href='/img/1920x1080.jpg', data-imagelightbox='subcatalog-2-item').item-img
      +e.img(src='http://placehold.it/260x260', alt=item.title)
    +e.FIGCAPTION.caption=item.title