//- Карточка одной статьи в разделе статьи
+b.news-post(href="/news-page.html")
  +e.SPAN.img
    img(src="http://placehold.it/270x195", alt="Alt")
  +e.SPAN.content
    +e.SPAN.excerpt
      +e.SPAN.title Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
      +e.SPAN.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quae pariatur omnis, laborum, error rerum nam minus excepturi fugiat deleniti quidem iusto eaque, velit. Ratione odio hic sequi, nobis magni officiis veniam quam animi accusamus ullam dolorem itaque illo dolores.
    time(datetime='2016-08-30').date 30.08.2016
