+b.top-panel
  .container
    .row.row_flex
      +e.geo(href='/contacts.html')
        +svg-icon('geo')
      +e.address(href='/contacts.html') ул. Московская, 73 а
      +e.phone(href='tel:+78005552356') 8 800 555 23 56
      a(href='#callback').callback.button.button--medium.button--black-filled.popup-link.js-popup
        +svg-icon('handset')
        | заказать звонок