.map__wrapper
  .map__map
    #map(style='width: 100%; height: 100%')
  .map__aside
    h4 как добраться?
    p «Ветеринарная клиника на Пушкина», Россия, г. Пенза, ул. Пушкина, 43.
    br
    p Остановка <span class="color-yellow">«ул. Шевченко»</span>
    br
    br
    p <span class="color-yellow">А</span>: 1, 33, 39<br>
      | <span class="color-yellow">T</span>: 7, 4<br>
      | <span class="color-yellow">М</span>: 3, 1, 39, 63, 17