.top-panel
  .container
    .row
      a(href='/contacts.html').top-panel__geo
        +svg-icon('geo')
      a(href='/contacts.html').top-panel__address ул. Московская, 73 а
      a(href='tel:+78005552356').top-panel__phone 8 800 555 23 56
      a(href='#callback').callback.button.button--medium.button--black-filled.popup-link.js-popup
        +svg-icon('handset')
        | заказать звонок