-
  var path =  [
                {name: 'Главная',   href: '/'},
                {name: 'Корзина'}
              ]

main.main
  .container
    include ../components/_breadcrumb
    .h1= path[1].name
    .cart
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam voluptas deleniti nulla amet laborum libero adipisci, quod quas quibusdam eos id voluptate harum veniam quia culpa obcaecati minus aliquid exercitationem repellat labore asperiores. Dolores nesciunt quia quis explicabo, suscipit fugiat eligendi enim, porro est assumenda maiores! Suscipit odio non nemo debitis laborum tempora obcaecati facere reiciendis. Explicabo nostrum itaque consequuntur dolorum autem ut, labore molestiae.
      +b.FORM.cart-form
        +b.cart-table
          - for (var x = 0; x < 2; x++)
            +e.row.row_flex
              // колонка фото
              +e.column.--photo
                +e.header
                +e.content
                  +e.link(href='#', alt='Alt')
                    +e.img(src='http://placehold.it/80x80', alt='Alt')
              // Колонка описания
              +e.column.--content
                +e.header
                  span Наименование товара и описание
                +e.content
                  +e.link(href='#', alt='Alt')
                    +e.H4.title Lorem ipsum dolor sit sitit ipsum dolor sit amet, consectetur adipisicing.
                  +b.mfr Производитель:&nbsp;
                    +e.link(href='#') JayBo
                  +e.layout
                    +e.line
                      +e.key Вкус:
                      +e.value Smurf Cake/Черничный пирог
                    +e.line
                      +e.key Крепость:
                      +e.volume 3 мг
                      +e.color(style="background-color: #7bc7b2;")
              // Колонка цены
              +e.column.--price
                +e.header
                  span Цена
                +e.content
                  +e.price.rouble 9999999
                  +e.price.--old.rouble 3000
              // Колонка количества
              +e.column.--quantity
                +e.header
                  span Количество
                +e.content
                  +e.stepper
                    +e.BUTTON.stepper-minus &minus;
                    +e.INPUT.stepper-input(type='text')
                    +e.BUTTON.stepper-plus &plus;
              // Колонка итоговой стоимости
              +e.column.--total
                +e.header
                  span Стоимость
                +e.content
                  +e.price.rouble 9999999
              // колонка удаления
              +e.del(href="#")
        +b.cart-total
          +e.row
            +e.key Всего в корзине:
            +e.value 3 товара
          +e.row
            +e.key Общая сумма заказа:
            +e.value.rouble 13 600
        +e.BUTTON.submit(type="submit") Оформить заказ
  include ../components/_bottom-panel
