-
  var path =  [
                {name: 'Главная',   href: '/'},
                {name: 'Контакты'}
              ]

-
  var contacts = 'true'

main.main
  .container
    include ../components/_breadcrumb
    h1= path[1].name
    +b.contacts
      section
        .row.row_flex
          +e.content
            p Мебельная компания «Мебель Дома»
            br
            br
            br
            p <strong>Адрес</strong>: г. Пенза,<br>ул. Московская, 73 а, строение 4<br><strong>Телефон</strong>: 8 (800) 555-23-56<br><strong>Mail</strong>: <a href="mailto:mebeldoma@yandex.ru">mebeldoma@yandex.ru</a>
            br
            br
            br
            p <strong>Режим работы</strong>:<br>Ежедневно с 8:00 до 17:00<br> Выходной — суббота, воскресенье.
          +e.map
            img(src='/img/map.jpg', alt='Alt')
            //-include ../components/_map
  section
    .contacts-form
      .container
        .h1 Напишите нам
        p Есть вопросы или предложения?
        p Вы можете отправить нам сообщение! Все поля являются обязательными.
        +b.FORM.form-contacts.form
          .row.row_flex
            +e.column
              +input-type-text('Фамилия Имя Отчество')
              +input-type-text('Телефон')
              +input-type-text('E-mail')
            +e.column
              .form-group
                //-label.control-label(for='area-name') Название
                textarea#area-name.form-control(placeholder="Сообщение")
              .form-submit
                img(src='/img/captcha.jpg', alt='Alt')
                .form-group
                  button(type='submit').button.button--medium.button--second-color-filled Отправить
  include ../components/_bottom-panel
//- a(href='#modal-window').popup-link.popup-js Модальное окно
//- #modal-window.white-popup-block.mfp-hide
//-#modal-window.popup.mfp-hide
  p Спасибо за ваше обращение!
  p Мы свяжемся с Вами в ближайшее время!
  button(type='submit').js-popup-submit Закрыть
