-
  var path =  [
                {name: 'Главная',   href: '/'},
                {name: 'Образцы материалов'}
              ]

//- Используется в catalog-item
-
  var subPathHref = '/gallery-page.html'

main.main
  .container
    include ../components/_breadcrumb
    h1= path[1].name
    .row.row_flex
      - for (var x = 0; x < 7; x++)
        include ../components/_catalog-item
  include ../components/_bottom-panel
