main.main
  section
    .container
      .row
        +b.main-slider
          +e.container.swiper-container.ms-c-js
            +e.wrapper.swiper-wrapper
              - for (var x = 1; x < 4; x++)
                +e.slide.swiper-slide(style='background-image: url("http://placehold.it/1200x640");')
                  +e.banner
                    p Мебель дома должна быть красивой, функциональной, надежной. Мы воплощаем это в реальность.
          //- If we need pagination
          +e.pagination.swiper-pagination.ms-pag-js
          //- If we need navigation buttons
          +e.prev.swiper-button-prev.ms-prev-js
          +e.next.swiper-button-next.ms-next-js
          //- If we need scrollbar
          //- .swiper-scrollbar
  section
    .container
      .row
        .h2 Популярные товары
        +b.subcatalog-slider
          +e.container.swiper-container.scs-c-js
            +e.wrapper.swiper-wrapper
              each item in label
                +e.slide.swiper-slide
                  include ../components/_subcatalog-item
          +e.prev.swiper-button-prev.scs-prev-js
          +e.next.swiper-button-next.scs-next-js
  section
    +b.news-slider
      .container
        +e.subcontainer
          .h4 Все новости
        +e.subcontainer
          +e.container.swiper-container.ns-c-js
            +e.wrapper.swiper-wrapper
              - for (var a = 1; a < 4; a++)
              +e.slide.swiper-slide
                  .row.row_flex
                    +e.column
                      time(datetime='2016-04-15') 15 апреля 2016
                      +e.title Все «за» и «против» кожаной мебели: мнение специалистов.
                      +e.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. A nesciunt minus libero eum, animi ipsum earum, beatae modi quaerat unde fugiat delectus, voluptatum non amet, sequi odio adipisci ullam illum harum nam voluptatibus consequuntur! Soluta voluptates temporibus nihil praesentium fugit mollitia repudiandae distinctio, amet. Voluptatem molestiae architecto ipsa, id ex perspiciatis. Repudiandae eligendi, officia illum. Adipisci nihil provident, perspiciatis minima.
                      +e.button(href="#").button.--large.--white Читать дальше
                    +e.column
                      //.news-slider__img(style='background-image: url("http://placehold.it/470x390");')
                      +e.img(src='http://placehold.it/470x390', alt='Alt')
          //- If we need navigation buttons
        +e.prev.swiper-button-prev.ns-prev-js
        +e.next.swiper-button-next.ns-next-js
  section
    .container
      .row
        .h2 Полезные статьи
        +b.articles-slider
          +e.container.swiper-container.ars-c-js
            +e.wrapper.swiper-wrapper
              - for (var b = 0; b < 7; b++)
                .swiper-slide
                  include ../components/_article-item
          +e.prev.swiper-button-prev.ars-prev-js
          +e.next.swiper-button-next.ars-next-js
  include ../components/_bottom-panel
