-
  var path =  [
                {name: 'Главная',             href: '/'},
                {name: 'Каталог',             href: '/catalog.html'},
                {name: 'Мебель для гостиной', href: '/category.html'},
                {name: 'Мебельный гарнитур «Интерра»'}
              ]
-
  var popup = [{name: 'new'}]

main.main
  .container
    include ../components/_breadcrumb
    //-.h1= path[3].name
    article.article
      +b.product
        .row.row_flex
          +e.gallery
            +e.img(href='/img/1920x1080.jpg', title='Alt', data-imagelightbox='gallery').label.label-hit
              img(src='http://placehold.it/650x625', alt='Alt')
            +b.product-slider
              +e.container.swiper-container.ps-c-js
                +e.wrapper.swiper-wrapper
                  - for (var x = 1; x < 6; x++)
                    +e.slide.swiper-slide
                      +e.img(href='/img/1920x1080.jpg', title='Alt', data-imagelightbox='gallery')
                        img(src='http://placehold.it/100x100', alt='Alt')
              +e.prev.swiper-button-prev.ps-prev-js
              +e.next.swiper-button-next.ps-next-js
          +e.feature(itemscope itemtype="http://schema.org/Product")
            h1(itemprop="name")= path[3].name
            +e.description(itemprop="description")
              p Продается магазин в Заводском районе, ул. Титова, дом 16 на 1 этаже 258, 7 кв.м. + подвальный склад 227,2 кв.м.
              p Помещение расположено на 1 и подвальном этажах, 2 входа, есть возможность деления площади магазина за счет монтажа еще одного входа. Имеется лифтовая камера для удобства погрузки, разгрузки.
              p Возможно различное использование: под магазин, оптовый офис-склад, производство-склад итд
              p Хорошее расположение, в 5 минутах ходьбы Пензенский строительный университет, остановки общественного транспорта, имеется возможность сделать закрытую парковку рядом с магазином.
            +e.bottom
              +e.price-layout(itemprop="offers" itemscope itemtype="http://schema.org/Offer")
                // Разряды надо разделить 999 999
                +e.old-price.rouble 999999
                +e.price
                  span(itemprop="price") 999999
                  =" "
                  span(style='font-family: rub-arial-regular;') Р
                  meta(content='RUB', itemprop='priceCurrency')
              a(href='#product').button.button--large.button--second-color-filled.js-popup Заказать
  // Модальное окно "Заполните форму заказа"
  +b.popup-product.mfp-hide.popup#product
    +e.aside
      p
        strong Выбранный товар:
      each item in popup
        include ../components/_category-item
    +e.form
      .h2 Заполните форму заказа
      p Все поля обязательны к заполнению.<br>После отправки, в течение 1 рабочего дня, с Вами свяжется наш менеджер
      +b.FORM.form-product.form
        +input-type-text('Фамилия Имя Отчество')
        +input-type-text('Телефон')
        +input-type-text('E-mail')
        .form-submit
          img(src='/img/captcha.jpg', alt='Alt')
          .form-group
            button(type='submit').button.button--medium.button--main-color-filled Отправить
  // Модальное окно "Заполните форму заказа"
  include ../components/_bottom-panel