.article-item
  .article-item__img.js-item-click
    img(src="http://placehold.it/270x195", alt="Alt")
  .article-item__title.js-item-click Lorem ipsum dolor sit amet!
  .article-item__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint eum voluptatibus illo ducimus excepturi deleniti illum, laudantium. Rerum molestias animi explicabo similique quis voluptate dicta perferendis, ratione et excepturi aspernatur velit sit id dolores! Alias sit magnam ex nulla, quod unde cupiditate expedita!
  a(href="/article.html").button.button--medium.button--second-color-filled.js-item-link Читать дальше