//- /components/catalog-item

.item.catalog-item
  .item-img.catalog-item__img.js-item-click
    img(src="http://placehold.it/265x265", alt="Alt")
  .catalog-item__title.js-catalog-item-click Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, ex fuga dicta?
  .catalog-item__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis magnam tenetur doloremque maxime ea hic impedit illo officia numquam. Inventore omnis nobis itaque tenetur cum optio, facilis recusandae harum debitis, dolore cupiditate alias maiores ab! Laudantium quam ipsam alias molestiae. Eum minima laborum, nihil et praesentium sit dignissimos cupiditate, reprehenderit rerum eligendi fuga, cum enim, odit vel corporis beatae ipsam.
  a.button.button--medium.button--second-color-filled.catalog-item__link.js-item-link(href=subPathHref) Подробнее