//- Карточка одной статьи в разделе статьи
a(href="/news-page.html").news-post
  span.news-post__img
    img(src="http://placehold.it/270x195", alt="Alt")
  span.news-post__content
    span.news-post__excerpt
      span.news-post__title Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
      span.news-post__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quae pariatur omnis, laborum, error rerum nam minus excepturi fugiat deleniti quidem iusto eaque, velit. Ratione odio hic sequi, nobis magni officiis veniam quam animi accusamus ullam dolorem itaque illo dolores.
    time(datetime='2016-08-30').date 30.08.2016
