//- Старый пагинатор

//-
  .pager_string
    a#leftPage.back(href='/news/page/3/') <
    a(href='/news/page/1/') 1
    a(href='/news/page/2/') 2
    a(href='/news/page/3/') 3
    .cur 4
    a(href='/news/page/5/') 5
    a(href='/news/page/6/') 6
    a#rightPage.next(href='/news/page/5/') >


//- Новый пагинатор

ul.pagination
  //<li class="prev disabled"><span>Предыдущая</span></li>
  //- li.prev.disabled
    span Предыдущая страница
  li.prev
    a(href='#', rel='prev') Назад
  li.active
    a(href='#') 1
  - for (var a = 2; a <= 5; a++)
    li
      a(href='#')=a
  li.next
    a(href='#', rel='next') Вперёд
  //<li class="next disabled"><span>Следующая</span></li>
  //- li.next.disabled
    span Следующая страница