//- /components/subcatalog-item

.item.subcatalog-item
  .item-img.subcatalog-item__img(class='label label-' + item.name).js-item-click
    img(src="http://placehold.it/270x270", alt="Alt")
  .subcatalog-item__category-name Мебель для гостинной
  .subcatalog-item__title.js-item-click Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  a(href='/product.html').button.button--medium.button--second-color-filled.js-item-link 999 999 <span>руб.</span>
