// /src/scss/components/_pagination.scss

// При использовании пагинатора, на странице родительскому контейнеру нужно
// добавить класс .flex-column

// Старый пагинатор

// Размеры
$pager-size: 46px;                       // Размер элемента пагинатора
// $pager-border-size: 0.1rem;               // Толщина обводки
// Рамка
$pager-border-color: $border;
$pager-border-color-hover: transparent;
$pager-border-color-cur: transparent;
//$pager-border-radius: $pager-size / 2;
$pager-border-radius: 0;
$pager-border-size: 1px;
// Шрифт
$pager-font-size: 16px;
$pager-font-weight: 400;
$pager-font-height: $pager-size - $pager-border-size;
$pager-font-weight-hover: 400;
$pager-font-color: $black;
$pager-font-color-hover: white;
$pager-font-color-cur: white;
$pager-font-color-disabled: #888;
// Фон
$pager-background-color: white;
$pager-background-color-hover: red;
$pager-background-color-cur: #888;
$pager-background-color-disabled: white;
// Оформление стрелок
$pager-arrow-color: white;
$pager-arrow-color-hover: white;
$pager-arrow-background: rgba(#2f9b86, 0.5);
$pager-arrow-background-hover: #2f9b86;

/*
.pager_string {
  display: flex;

  width: 100%;
  margin: auto auto 40px;

  align-items: center;
  justify-content: center;
  .back,
  .next,
  & a[href]:not([class]),
  & a[href]:not([class]):visited,
  & .cur {
    @include text-decoration;
    border-radius: $pager-border-radius;
    // высота строки - высота элемента минус border сверху/снизу

    @include font($pager-font-size, $pager-font-weight, $pager-size - $pager-border-size * 2);
    // margin: 0 0.5rem;
  }
  & .cur {
    font-weight: 700;
  }
  & a[href]:not([class]),
  & a[href]:not([class]):visited {
    display: inline-block;

    width: $pager-size;
    height: $pager-size;

    text-align: center;
    //text-decoration: none;

    color: $pager-font-color;
    border: $pager-border-size solid $pager-border-color;
    background-color: $pager-background-color;
    &:hover {
      font-weight: $pager-font-weight-hover;
      color: $pager-font-color-hover;

      border: $pager-border-size solid $pager-border-color-hover;
      background-color: $pager-background-color-hover;
    }
  }
  & a[href]:not([class]) {
    margin-right: 0.1rem;
  }
  .back,
  .next {
    // font-size: 0;                   // Чтобы убрать стрелки, которые генерирует пагинатор
    // position: relative;
    width: $pager-size;
    height: $pager-size;
    margin: 0;

    text-align: center;

    border: $pager-border-size solid $pager-border-color;
    background-color: $pager-arrow-background;
    &:hover {
      border: $pager-border-size solid $pager-border-color-hover;
      background-color: $pager-arrow-background-hover;
    }
  }
  .back {
    margin-right: 2rem;
    // миксин генерирует стрелку в псевдоэлементе before см. _mixins.scss
    // @include arrow(left, 1.4rem, 0.4rem, $pager-arrow-color, $pager-arrow-color-hover) // $direction: up, down, left, right
  }
  .next {
    margin-left: 1.5rem;
    // @include arrow(right, 1.4rem, 0.4rem, $pager-arrow-color, $pager-arrow-color-hover) // $direction: up, down, left, right
  }
  & .cur {
    width: $pager-size;
    height: $pager-size;
    margin-right: 0.1rem;

    text-align: center;

    color: $pager-font-color-cur;
    border: $pager-border-size solid $pager-border-color-cur;
    background-color: $pager-background-color-cur;
  }
}
*/

// Пагинатор Yii 2
.pagination {
  display: flex;
  // padding: 0;

  margin: auto auto $gutter;
  list-style: none;
  justify-content: center;

  li {
    height: $pager-size;

    &:not(:last-of-type) {
      margin-right: 10px;
    }
  }

  & li span,
  & li a {
    @include text-decoration;
    @include font($pager-font-size, $pager-font-weight, $pager-font-height);
    display: inline-block;
    overflow: hidden;
    width: $pager-size;
    height: $pager-size;
    //margin-right: 1.3rem;

    text-align: center;
    color: $pager-font-color;
    border-radius: $pager-border-radius;
    background-color: $pager-background-color;
  }

  li a {
    @include transition;
  }

  & li a,
  & li a:link,
  & li a:visited {
    @include text-decoration;
    border: $pager-border-size solid $pager-border-color;
  }

  & li a:hover {
    // font-weight: 700;
    color: $pager-font-color-hover;
    background-color: $pager-background-color-hover;
    border: $pager-border-size solid $pager-background-color-hover;
  }

  & li.active a {
    font-weight: 400;
    cursor: default;
    color: $pager-font-color-cur;
    background-color: $pager-background-color-cur;
    border: $pager-border-size solid $pager-background-color-cur;
  }

  li.prev,
  li.next {
    position: relative;

    & a,
    & span {
      margin: 0;
      text-transform: uppercase;

      //border-radius: 0;
      @media (max-width: $sm - 1) {
        font-size: 0;
      }

      @media (min-width: $sm) {
        padding: 0 20px;
        width: auto;
      }
    }

    &.disabled a,
    &.disabled span {
      color: $pager-font-color-disabled;
      background-color: $pager-background-color-disabled;

      @include font($pager-font-size, $pager-font-weight, $pager-size);
    }
  }

  li.prev {
    position: relative;
    display: flex;
    // & a,
    // & span {
    //   border-radius: 5px 0 0 5px;
    // }
    // margin-right: 20px; // 2rem - 0.6rem расстояние м/у ссылками
    a:after,
    span:after {
      position: absolute;
      top: 0;
      left: -12px;
      width: 0;
      height: 0;
      content: "";
      border-width: 19px 12px 19px 0;
      border-style: solid;
      border-color: transparent $pager-background-color transparent transparent;
    }

    &:hover a:after {
      border-color: transparent $pager-background-color-hover transparent transparent;
    }

    a:before,
    span:before {
      // font-size: $pager-font-size * 1.5;
      // position: absolute;

      right: 15px;
      content: "\003C";

      @media (min-width: $sm) {
        margin-right: 15px;
      }
    }
  }

  li.next {
    position: relative;
    display: flex;
    // & a,
    // & span {
    //   border-radius: 0 5px 5px 0;
    // }

    // margin-left: 14px; // 2rem - 0.6rem расстояние м/у ссылками
    a:before,
    span:before {
      position: absolute;
      top: 0;
      right: -12px;
      width: 0;
      height: 0;
      content: "";
      border-width: 19px 0 19px 12px;
      border-style: solid;
      border-color: transparent transparent transparent $pager-background-color;
    }

    &:hover a:before {
      border-color: transparent transparent transparent $pager-background-color-hover;
    }

    a:after,
    span:after {
      // font-size: $pager-font-size * 1.5;
      // position: absolute;

      right: 15px;
      content: "\003E";

      @media (min-width: $sm) {
        margin-left: 15px;
      }
    }
  }
}
