//@import 'sprite';

.icon {
  display: inline-block;
  background-image: url(/img/sprite.png);
}

.svg-social {
  fill: currentColor;
}

.handset {
  margin-right: 1rem;
}

// svg иконки
@each $name, $width, $height in
                                (logo, 49px, 36px),
                                (geo, 14px, 20px),
                                (handset, 16px, 16px),
                                (search, 13px, 13px) {
  .svg-icon-#{$name} {
    width: $width;
    height: $height;
  }
}