//- Миксины проекта

//- Базовая разметка страницы
mixin base-page(page)
  doctype html
  html(lang='ru')
    head
      include ../meta/_head
    body.body.js-body
      include ../svg/svg
      include ../partials/_header
      if block
        block
      //-include ../_index
      include ../partials/_footer
      //- скрипты
      include ../meta/_scripts

//- svg-иконка из Dom
mixin svg-icon(name)
  svg(class ='svg-icon svg-icon-' + name)
    title=name
    use(xlink:href='#' + name)

// svg иконки из внешнего спрайта
mixin svg-icon-2(name,mod)
  - mod = mod || ''
  svg(class="icon icon-" + name + ' ' + mod)
    use(xlink:href="/img/sprite.svg#" + name)

//- инпут текст
mixin input-type-text(placeholder)
  .form-group
    input#input-name.form-control(type='text', placeholder=placeholder)

//- инпут текст
mixin input-label(label, placeholder)
  .form-group
    label.control-label(for='input-name')=label + ":"
    input#input-name.form-control(type='text', placeholder=placeholder)

//- кнопка
mixin button(size, color, text, submit)
  if submit
    button(type='submit' class='button button--' + color + ' button--' + size)&attributes(attributes)
      if block
        block
      =text
  else
    a(href='#' class='button button--' + color + ' button--' + size)&attributes(attributes)
      if block
        block
      =text
//-
  +button('sm-rounded', 'blue-filled', 'Купить', 'true')(class='add-to-cart')
    +svg-icon('shopping-bag')