//- Название организации
-
  var companyName = 'Мебельная компания «Мебель Дома»'
//- Навигационное меню
-
  var navMenu = [
                  {name: 'О компании',         href: '/about.html',   icon: 'key'},
                  // для примера, объект, содержащий подменю
                  {name: 'Каталог',    href: '/catalog.html',  icon: 'camera',
                    submenu:  [
                                {name: 'Мебель для кухни',      href: '/subcatalog.html'},
                                {name: 'Мебель для гостинной',  href: '/subcatalog.html'},
                                {name: 'Мебель для детской',    href: '/subcatalog.html'},
                                {name: 'Мебель для спальни',    href: '/subcatalog.html'},
                                {name: 'Мебель для прихожей',   href: '/subcatalog.html'},
                                {name: 'Мебель для ванный',     href: '/subcatalog.html'}
                              ]
                  },
                  {name: 'Образцы материалов',  href: '/gallery.html',  icon: 'rules'},
                  {name: 'Услуги',              href: '#',  icon: 'rules'},
                  {name: 'Новости и акции',     href: '/news.html',  icon: 'rules'},
                  {name: 'Статьи',              href: '/articles.html',  icon: 'rules'},
                  // {name: 'Фотогалерея',         href: '/gallery.html',  icon: 'rules'},
                  {name: 'Контакты',            href: '/contacts.html',  icon: 'mail'}
                ]
//- Акции
-
  var label = [
                {name: 'hit'},
                {name: 'new'},
                {name: 'action'},
                {name: 'discount'},
                {name: 'sale'}
              ]

//- социальные сети
-
  var glyph = [
                {href: 'https://www.facebook.com/', icon: 'fb'},
                {href: 'http://ok.ru/', icon: 'ok'},
                {href: 'https://twitter.com/', icon: 'tw'},
                {href: 'https://vk.com/', icon: 'vk'},
                {href: 'https://www.instagram.com/', icon: 'inst'},
                {href: 'https://www.youtube.com/', icon: 'yout'}
              ]